@page
@model WebAppRazor.Pages.Users.DeleteModel
@{
}

<div>
	<table class="table">
		<thead>
			<tr>
				<partial name="_UserHeader" model="new Models.User()" />
			</tr>
		</thead>
		<tbody>
			<tr>
				<partial name="_UserBody" for="@Model.SelectedUser" />
			</tr>
		</tbody>
	</table>
</div>

<div>
	@using (Html.BeginForm(FormMethod.Post))
	{
		<input type="hidden" asp-for="@Model.SelectedUser!.Id" />
		@Html.HiddenFor(x => x.SelectedUser!.Id)

		<input type="submit" value="Delete" class="btn" />
		<a asp-page="./Index" class="btn">Cancel</a>
	}
</div>