@page
@model WebAppRazor.Pages.Users.IndexModel
@{}


<a asp-page=".\AddOrEdit\Add">Add</a>
<div>
	<table class="table">
		<thead>
			<tr>
				@await Html.PartialAsync("_UserHeader", new Models.User())
			</tr>
		</thead>
		<tbody>
			@foreach (var user in await Model.Service.ReadAsync())
			{
				<tr>
					@await Html.PartialAsync("_UserBody", user)
					<th>
						<a asp-page=".\AddOrEdit\Edit" asp-route-userId="@user.Id">Edit</a>
						<a asp-page=".\Delete" asp-route-userId="@user.Id">Delete</a>
					</th>
				</tr>
			}
		</tbody>
	</table>
</div>